body{
    margin: 0;
}
section {
    margin: 0 auto; 
    max-width: 660px;
    padding: 0 20px;
}
.ribbon{
    height: 200px;
    position: relative;
    background-color: red;
    margin-top: 25px;
    margin-bottom: 30px;
    color: #fff;
}
.stock{
    width: 60px;
    padding: 10px 0;
    position: absolute;
    margin-left: 30px;
    background: skyblue;
    border-top-left-radius: 3px;
    text-align: center;
}
.stock:before {
    height: 0;
    width: 0;
    right: -5.5px;
    top: 0.1px;
    border-bottom: 6px solid skyblue;
    border-right: 6px solid transparent;
}
.stock:before, .stock:after {
    content: "";
    position: absolute;
}
.stock:after {
    height: 0;
    width: 0;
    bottom: -29.5px;
    left: 0;
    border-left: 30px solid skyblue;
    border-right: 30px solid skyblue;
    border-bottom: 30px solid transparent;
}
.discount{
    width: 150px;
    height: 50px;
    padding: 10px 0;
    padding-left: 15px;
    left: -8px;
    
    
    position: absolute;
    background: tomato;
    margin-top: 30px;
    
}
.discount::before{
    height: 0;
    width: 0;
    top: -8.5px;
    left: 0.1px;
    border-bottom: 9px solid tomato;
    border-left: 9px solid transparent;
}
.discount:before, .discount:after {
    content: "";
    position: absolute;
}
.discount:after{
    height: 0;
    width: 0;
    right: -14px;
    top:0.1px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid tomato;
    
    
}

